/*CSS for Registeration Page*/
.usr_reg, .vend_reg {
    width: 440px;
    height: 615px;
    float: left;
    padding-top: 20px;
    margin-top: 20px;
}

.usr_reg h1, .vend_reg h1, .reg_sep h1{
    font-family: Trebuchet MS;
    color: #ffffff;
    padding-left: 30px;
    text-indent: -9999em;
}

.usr_reg h1 {
    background: transparent url('../images/hi_iam_auser.png') no-repeat scroll 0% 0%;
}

.usr_reg p, .vend_reg p {
    padding: 20px 30px;
    padding-bottom: 0px;
    line-height: 1.5em;
    font-family: Trebuchet MS;
    color: #ffffff;
    font-size: 14px;
    text-indent: -9999em;
}

.usr_reg {

    /*background: transparent url('../images/userreg_form_bg.png') no-repeat scroll 0% 0%;*/
    background-color:#D1C6FA;
     border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
   
}

.vend_reg {
   /* background: transparent url('../images/vendorreg_form_bg.png') no-repeat scroll 0% 0%;*/
   background-color:#C6F4FA;
     border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.register .cont {
    padding-bottom: 80px;
    padding-top: 20px;
    width: 984px;
}

.reg_sep {
    width: 45px;
    height: 615px;
    float: left;
    background: transparent url('../images/reg_sep.png') no-repeat scroll 0% 0%;
}

.usr_reg .form, .vend_reg .form {
    padding: 30px 20px;
    padding-bottom: 5px;
}

.register .form label {
    color: #ffffff;
    font: bold 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.usr_reg .form dl, .vend_reg .form dl {
    clear: both;
    margin-bottom: 12px;
    padding-left: 0px;
    padding-right: 0px;
}

.usr_reg .form dt, .vend_reg .form dt {
    float: left;
    width: 105px;
    text-align: right;
    padding-right: 10px;
}

.usr_reg .form dd, .vend_reg .form dd {
   /* float: left;*/

}

.usr_reg .form .txtbox, .vend_reg .form .txtbox {
    width: 228px;
    /*background:  transparent url('../images/reg_text_box_bg.png') repeat-x scroll 0% 0%;*/
    border: none;
    padding: 7px;
    max-height: 32px;
    border-left: 1px solid #999;
    font:  12px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #666666;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    behavior: url(PIE.htc);
}

.usr_reg .form select, .vend_reg .form select {
    background:  transparent url('../images/reg_text_box_bg.png') repeat-x scroll 0% 0%;
    border: none;
    padding: 6px;
    max-height: 32px;
    border-left: 1px solid #999;
    font:  13px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #333333;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    behavior: url(PIE.htc);
}

.usr_reg .form dd span, .vend_reg .form dd span {
    padding-left: 120px;
   display: block;
   padding-top: 5px;
}

.usr_reg .form dd span, .vend_reg .form dd span.LV_validation_message{
  display: inline;
  padding: 0px;
}

.usr_reg .form .small_select, .vend_reg .form .small_select {
    width: 221px;
}

.usr_reg .form .med_select, .vend_reg .form .med_select {
    width: 170px;
}


.register .btn_cont {
    padding-top: 12px;
}


.register .btn {
    border: none;
    text-indent: -999em;
    width: 221px;
    height: 42px;
    margin: 75px 0 0 105px;
}

.register .usr_sign_up_btn {
    background:  transparent url('../images/sign_up_user_btn.png') repeat-x scroll 0% 0%;
}

.register .vnd_sign_up_btn {
    background:  transparent url('../images/sign_up_vendor_btn.png') repeat-x scroll 0% 0%;
    margin-top: 75px;
}